nav {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: getColour(primary);
    padding: 15px 0;
    min-height: 6vh;

    a {
      color: getColour(allwhite);
      text-decoration: none;
      font-family: $font-primary;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .burger-menu {
      display: none;
      cursor: pointer;

      div {
        width: 30px;
        height: 3px;
        background-color: getColour(allwhite);
        margin: 7px 30px;
      }
    }
  }

  .nav-bar {
    border-bottom: 1px solid getColour(secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;

    .nav-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 30%;
      margin: 10px 0;

      a {
        text-decoration: none;
        color: getColour(black);
      }

      li {
        list-style: none;
      }
    }
  }
}

.login-container {
  .login-btn {
    font-family: $font-secondary;

    a {
      color: getColour(black);
      text-decoration: none;
    }

    #logout-link {
      padding: 0 10px;
      border: none;
      background-color: getColour(allwhite);
    }

    .edit-products-link {
      border-left: 1px solid getColour(secondary);
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    overflow-x: hidden;
    position: relative;
  }

  nav {
    .logo {
      justify-content: space-between;

      h1 {
        margin-left: 20px;
      }

      .burger-menu {
        display: block;
      }
    }

    .nav-bar {
      .nav-links {
        position: absolute;
        right: 0;
        height: 96vh;
        top: 5vh;
        background-color: getColour(primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        li {
          letter-spacing: 2px;
          opacity: 0;
        }
      }
    }
  }
}

.nav-active {
  transform: translateX(0%);
}
