header {
  margin-bottom: 60px;
}

nav {
  .logo {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    background-color: getColour(primary);
    color: getColour(allwhite);
    padding: 15px 0 15px 30px;
    font-family: $font-primary;
    cursor: pointer;

    h1 {
      font-size: 2rem;
    }

    .burger-menu {
      display: none;
    }

    .burger-menu div {
      width: 30px;
      height: 3px;
      background-color: getColour(white);
      margin: 7px 30px;
    }
  }

  .nav-bar {
    font-family: $font-secondary;
    border-bottom: 1px solid getColour(secondary);

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
    }

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
      padding: 10px 0 5px 0;

      a {
        font-size: 1rem;
      }
    }

    span a {
      float: right;
      border: 3px solid getColour(primary);
      padding: 10px 15px;
      border-radius: 30px;
      font-size: 0.8rem;
      margin: 10px 30px 0 0;
    }
  }
}

.login-container {
  float: left;
  border: 3px solid getColour(primary);
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 0.8rem;
  margin: 8px 0 0 30px;

  a {
    color: getColour(black);
    text-decoration: none;
    font-family: $font-secondary;
  }

  .login-link {
    padding-right: 5px;
  }

  .edit-products-link {
    border-left: 1px solid getColour(secondary);
    padding-left: 10px;
  }
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  nav {
    .logo h1 {
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 90vh;
      top: 10vh;
      background-color: getColour(primary);
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
      width: 50%;

      .nav-links li {
        opacity: 1;
      }

      .burger-menu {
        display: block;
      }
    }
  }
}
