.editcard {
  border-bottom: 1px solid getColour(secondary);
  margin: 10px;
}

h4 {
  text-decoration: none;
}

.edit-form {
  display: none;
}

.delete {
  margin-top: 20px;
}

.featured-btns {
  display: flex;
  flex-direction: row;
}
