.product-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: 30px;

  .image-wrapper {
    img {
      max-width: 80%;
      display: block;
      margin: 0 auto;
    }
  }

  .text-wrapper {
    text-align: center;

    #description {
      font-weight: bold;
    }

    #description-text {
      margin: 0 auto 20px auto;
      max-width: 500px;
    }

    #price {
      font-size: 1.5rem;
    }

    button.addBtn {
      background-color: getColour(darkblue);
      padding: 20px 60px;
      color: getColour(allwhite);
      font-weight: bold;
      font-size: 1.4rem;
      border: none;
      cursor: pointer;
      display: block;
      margin: 0 auto;
    }
  }

  button:hover {
    opacity: 0.7;
  }
}

@media (min-width: 1024px) {
  .product-wrapper {
    grid-template-columns: repeat(2, 1fr);

    .image-wrapper {
      margin: 0 40px;

      img {
        width: 400px;
        height: 450px;
        object-fit: cover;
      }
    }

    .text-wrapper {
      text-align: left;
      margin: 20px 50px 0 0;

      h2 {
        text-align: left;
      }

      #description-text {
        max-width: 500px;
        margin: 0 0 30px 0;
      }

      button#addBtn {
        margin: 0;
      }
    }
  }
}
