.edit-products-container {
  .editproduct {
  }
}

.edit {
  border: 1px solid getColour(secondary);
  color: getColour(black);

  h4 {
    text-decoration: none;
  }
}

.edit-form {
  display: none;
}

.delete {
  margin-top: 20px;
}
