form {
  max-width: 400px;
  margin: 0 auto;

  div {
    margin-bottom: 10px;
  }

  input {
    width: 100%;
  }

  button {
    background-color: getColour(darkblue);
    width: 100%;
    height: 40px;
    color: getColour(allwhite);
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
}
